@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

ul {
  padding: 0;
  margin: 0;
}

classifieds-ui-gridless-layout .main-controls {
  border-bottom: none !important;
}

.flex > .pane-1  {
  min-width: 30%;
}

.flex > .pane-1 .pane-0 {
  position: fixed;
}

classifieds-ui-page-router-link[href*="manage"] {
  font-weight: 300;
  padding: 2em 0;
  display: block;
}

classifieds-ui-page-router-link[href*="manage"] a:hover {
  text-decoration: underline;
}
