<div class="top-header border-b border-b-stone-300 px-4 flex flex-row justify-between">
  <p class="brand text-emerald-700 font-semibold"><a href="https://github.com/rollthecloudinc/spearhead-docs">Spearhead Docs <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></p>
  <div>
    <dl class="flex items-center h-full">
      <dt>Emissions:</dt>
      <dt class="mr-6 ml-1">100g</dt>
      <dt class="text-emerald-700">Offset:</dt>
      <dt class="mr-6 text-emerald-700 ml-1">50g</dt>
      <dt>Remaining:</dt>
      <dt class="ml-1 mr-6">50g</dt>
      <dt>
        <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
          Contribute
        </button>
      </dt>
    </dl>
  </div>
  <div>
  </div>
    <div class="flex items-center h-full">
      <a class="brand text-slate-600 font-medium tracking-wide hover:text-emerald-700 mr-6" href="https://github.com/rollthecloudinc">a Roll The Cloud Inc. initiative <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a>
      <form action="https://www.paypal.com/donate" method="POST" target="_top">
        <input type="hidden" name="hosted_button_id" value="84YQP5Z9AUZYY" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <button type="submit"><img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" /></button>
      </form>
    </div>
</div>
<div class="top-header-push"></div>
<div class="flex-1">
  <div class="outlet-wrapper flex flex-row">
    <div class="px-2 py-2 sidebar">
      <nav>
        <ul class="text-slate-600">
          <li><a class="px-2 py-2 flex hover:bg-neutral-100 hover:text-emerald-700" routerLink="/">Welcome</a></li>
          <li><a class="px-2 py-2 flex hover:bg-neutral-100 hover:text-emerald-700" routerLink="/introduction">Introduction</a></li>
          <li><a class="px-2 py-2 flex hover:bg-neutral-100 hover:text-emerald-700" routerLink="/carbon-efficiency">Carbon Efficency</a></li>
          <li><a class="px-2 py-2 flex hover:bg-neutral-100 hover:text-emerald-700" routerLink="/energy-efficiency">Energy Efficency</a></li>
          <li><a class="px-2 py-2 flex hover:bg-neutral-100 hover:text-emerald-700" routerLink="/carbon-awareness">Carbon Awareness</a></li>
          <li><a class="px-2 py-2 flex hover:bg-neutral-100 hover:text-emerald-700" routerLink="/hardware-efficiency">Hardware Efficency</a></li>
          <li><a class="px-2 py-2 flex hover:bg-neutral-100 hover:text-emerald-700" routerLink="/measurement">Measurement</a></li>
          <li><a class="px-2 py-2 flex hover:bg-neutral-100 hover:text-emerald-700" routerLink="/climate-commitments">Climate Comittments</a></li>
          <li><a class="px-2 py-2 flex hover:bg-neutral-100 hover:text-emerald-700" routerLink="/glossary">Glossary</a></li>
        </ul>
      </nav>
    </div>
    <div class="px-4 py-4 border-l border-l-stone-300">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="py-10 px-16">
  <div class="grid grid-cols-3">
    <div>
      <div class="font-medium tracking-wide text-lime-400 pb-4">Links</div>
      <ul class="space-y-1.5">
        <li><a class="text-sm text-zinc-400 font-light tracking-wide hover:text-white hover:underline" href="">Github <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
        <li><a class="text-sm text-zinc-400 font-light tracking-wide hover:text-white hover:underline" href="">Website <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
      </ul>
    </div>
    <div>
      <div class="font-medium tracking-wide text-lime-400 pb-4">LEGAL</div>
      <ul class="space-y-1.5">
        <li><a class="text-sm text-zinc-400 font-light tracking-wide hover:text-white hover:underline" href="">Trademark Policy <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
        <li><a class="text-sm text-zinc-400 font-light tracking-wide hover:text-white hover:underline" href="">Terms & Privary Policy <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
      </ul>
    </div>
    <div>
      <div class="font-medium tracking-wide text-lime-400 pb-4">GSF Info</div>
      <ul class="space-y-1.5">
        <li><a class="text-sm text-zinc-400 font-light tracking-wide hover:text-white hover:underline" href="">Green Software Foundation <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
        <li><a class="text-sm text-zinc-400 font-light tracking-wide hover:text-white hover:underline" href="">Twiiter <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
        <li><a class="text-sm text-zinc-400 font-light tracking-wide hover:text-white hover:underline" href="">Linkedin <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 24" class="inline mb-1"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
      </ul>
    </div>
  </div>
  <p class="text-center mt-8 text-sm text-zinc-400 font-thin tracking-wide">Copyright &copy; 2022 Joint Development Foundation Projects, LLC, Green Software Foundation Series</p>
</footer>
